version: 2
{% if enable_docker | default(false, true) or enable_docker_compose | default(false, true) %}

registries:
  ghcr:
    type: docker-registry
    url: https://ghcr.io
    username: '{% raw %}${{github.repository_owner}}{% endraw %}'
    password: '{% raw %}${{secrets.GHCR_PAT}}{% endraw %}'
{% endif %}

updates:
{% if enable_github_actions | default(false, true) %}
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(github-actions):'
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_docker | default(false, true) %}
  - package-ecosystem: docker
    directories:
      - '/'
{% for d in extra_docker_directories | default([], true) %}
      - '{{ d }}'
{% endfor %}
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(docker):'
    registries:
      - ghcr
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_docker_compose | default(false, true) %}
  - package-ecosystem: docker-compose
    directories:
      - '/'
{% for d in extra_docker_compose_directories | default([], true) %}
      - '{{ d }}'
{% endfor %}
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(docker-compose):'
    registries:
      - ghcr
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_gomod | default(false, true) %}
  - package-ecosystem: gomod
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(gomod):'
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_gradle | default(false, true) %}
  - package-ecosystem: gradle
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(gradle):'
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_npm | default(false, true) %}
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(npm):'
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_uv | default(false, true) %}
  - package-ecosystem: uv
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(uv):'
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_swift | default(false, true) %}
  - package-ecosystem: swift
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(swift):'
    allow:
      - dependency-type: all
{% if swift_ignore_dependencies | default([], true) %}
    ignore:
{% for d in swift_ignore_dependencies %}
      - dependency-name: '{{ d }}'
{% endfor %}
{% endif %}
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_gitsubmodule | default(false, true) %}
  - package-ecosystem: gitsubmodule
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(gitsubmodule):'
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_cargo | default(false, true) %}
  - package-ecosystem: cargo
    directories:
      - '/'
{% for d in extra_cargo_directories | default([], true) %}
      - '{{ d }}'
{% endfor %}
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    assignees:
      - hu553in
    commit-message:
      prefix: 'deps(cargo):'
    allow:
      - dependency-type: all
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
