version: 2

updates:
{% if enable_github_actions | default(false, true) %}
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    assignees:
      - hu553in
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_docker | default(false, true) %}
  - package-ecosystem: docker
    directories:
{% for d in docker_directories | default(['/'], true) %}
      - '{{ d }}'
{% endfor %}
    schedule:
      interval: weekly
    assignees:
      - hu553in
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_docker_compose | default(false, true) %}
  - package-ecosystem: docker-compose
    directories:
{% for d in docker_compose_directories | default(['/'], true) %}
      - '{{ d }}'
{% endfor %}
    schedule:
      interval: weekly
    assignees:
      - hu553in
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_gomod | default(false, true) %}
  - package-ecosystem: gomod
    directory: '/'
    schedule:
      interval: weekly
    assignees:
      - hu553in
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_gradle | default(false, true) %}
  - package-ecosystem: gradle
    directory: '/'
    schedule:
      interval: weekly
    assignees:
      - hu553in
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
{% if enable_bun | default(false, true) %}
  - package-ecosystem: bun
    directory: '/'
    schedule:
      interval: weekly
    assignees:
      - hu553in
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
    ignore:
      - dependency-name: typescript
        update-types:
          - version-update:semver-major
{% endif %}
{% if enable_uv | default(false, true) %}
  - package-ecosystem: uv
    directory: '/'
    schedule:
      interval: weekly
    assignees:
      - hu553in
    groups:
      patch-and-minor:
        update-types:
          - patch
          - minor
      major:
        update-types:
          - major
{% endif %}
